<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO_1IsGp0pmuwIIC2xWS2Z0Ba_64dwY8w</string>
	<key>GCM_SENDER_ID</key>
	<string>223236970681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitness.sculpta</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-3fee4</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-3fee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223236970681:ios:84ae728bb54b7f4bede368</string>
</dict>
</plist>